bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json

.vs/
.vscode/
*.user
*.suo
*.cache
*.csproj.user
*.DotSettings.user

packages/
*.nupkg
*.snupkg

*.log
*.tmp
*.temp